// vi: ft=groovy ts=4 sw=4 expandtab

// "borrowed" from
// https://github.com/opscode-cookbooks/jenkins/blob/master/libraries/credentials.rb
// and
// https://github.com/opscode-cookbooks/jenkins/blob/master/libraries/_helper.rb

// import jenkins.model.* // included by default
import com.cloudbees.plugins.credentials.* // for CredentialsMatchers, CredentialsProvider
import com.cloudbees.plugins.credentials.domains.SchemeRequirement
import com.cloudbees.jenkins.plugins.sshcredentials.SSHUserPrivateKey

def get_credentials_for_user(user) {
    username_matcher = CredentialsMatchers.withUsername(user)
    available_credentials = CredentialsProvider.lookupCredentials(
        SSHUserPrivateKey.class,
        Jenkins.getInstance(),
        hudson.security.ACL.SYSTEM,
        new SchemeRequirement("ssh")
    )

    return CredentialsMatchers.firstOrNull(available_credentials, username_matcher)
}

c = get_credentials_for_user('$user')

c ? c.id : "not found"

