<?xml version='1.0' encoding='UTF-8'?>
#**
  Parameters:
  parameterList: list of params
    each param has type, name, description, defaultValue
  repositoryUrl
  repositoryRefSpec
  startedCommand
  prebuildCommand
  buildCommand
  successCommand
  failedCommand

  Pull Request Specific params:
  mergeRef ("from ref name")
  mergeRefUrl
  mergeHead ("from ref hash")

  esc - escape tool - required
  @author cmyers
*#
#set ($d = "$")
<project>
  <actions/>
  <description>This is the default verify job created automatically by stashbot, and cannot be changed in Jenkins.  Stash Project Link: &lt;a href="$esc.xml($repositoryUrl)"&gt;$esc.xml($repositoryUrl)&lt;/a&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
#foreach ( $param in $paramaterList )
        <hudson.model.${param.typeName}>
          <name>$param.name</name>
          <description>$!esc.xml($!param.description)</description>
          <defaultValue>$!esc.xml($!param.defaultValue)</defaultValue>
        </hudson.model.${param.typeName}>
#end
## Merge specific Parameters:
        <hudson.model.StringParameterDefinition>
          <name>mergeRef</name>
          <description>The name of the ref we are merging from</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>mergeRefUrl</name>
          <description>The URL of the ref to fetch</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>mergeHead</name>
          <description>The actual SHA1 of the commit to fetch</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.1.26">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>$esc.xml($repositoryUrl)</url>
        <name>origin</name>
        <refspec></refspec>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${d}buildHead</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>true</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
        <!-- for insane, incomprehensible reasons, jenkins does not do this automatically -->
        <command>git reset --hard HEAD &amp;&amp; git clean -fdx</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
        <command>$esc.xml($startedCommand)</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
        <!-- So, here we fetch and merge in the mergeHead.  We merge the hash directly instead of the ref name or FETCH_HEAD to avoid race conditions with the server. -->
        <command>git fetch $mergeRefUrl $mergeRef &amp;&amp; git merge $mergeHead</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
        <command>$esc.xml($prebuildCommand)</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>$esc.xml($buildCommand)</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.8">
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>BUILD SUCCESS0</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>$esc.xml($successCommand)</script>
        </hudson.plugins.postbuildtask.TaskProperties>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>BUILD FAILURE1</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>$esc.xml($failedCommand)</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
  </publishers>
  <buildWrappers/>
</project>
